#main-heading {
  color: blue;
  text-align: center;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: navy;
}

.ingressi {
  font-size: 1.1em;
}

.korostus {
  color: red;
  font-style: italic;
  font-variant: small-caps;
}

